
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('/photo/LANAILS.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 45%;
    margin-top: 20%;
    margin-bottom: 5%;
}
.form-box {
    background:rgba(255, 255, 255, 0.089);
    padding: 40px 30px;
    border-radius: 15px;
    text-align: center;
    margin-top: 10%;
    width: 100%;
    height: 100%;
    
}

.form-box div {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
}
.form-box label {
    float: left;
    font-size: 16px;
}
.input-group {
    margin-bottom: 20px;
    color: #ffffff; 
}
  
.form-box input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none; 
    border-radius: 8px;
    font-size: 14px;
    background: rgba(168, 164, 164, 0);
    height: auto;
    outline: none; 
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #ffffff;
}


.form-box input::placeholder{
    color: #e7e4e49d;
    cursor: pointer;
    border: none;
}
.button-container {
    display: flex;
    gap: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.confirm-btn , .cancel-btn  {
    padding: 12px 24px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.327);
    color: white;
}
.confirm-btn:hover , .cancel-btn:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
a {
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 768px) {
    body {
        background-size: cover;
    }

    h1 {
        font-size: 50px;
    }

    .input-box {
        margin: 10px 0;
    }

    .input-box input {
        width: 100%;
        max-width: 100%;
        height: 35px;
        padding: 8px 15px;
    }

    .remember-forget {
        font-size: 13px;
    }

    .button-group {
        flex-direction: column;
    }

    .btn, .register-btn {
        width: 100%;
        margin-bottom: 15px;
    }

    .google-btn {
        width: 100%;
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 36px;
    }

    .google-btn {
        width: 90%;
        font-size: 14px;
    }

    .input-box input {
        font-size: 12px;
    }

    .btn, .register-btn {
        font-size: 14px;
    }

    .divider span {
        font-size: 10px;
    }
}
.error-message{
    text-align: left;
    
}